/* Minimal CSS Reset *//

* {
    box-sizing: border-box;
  }
  
/* Set up a CSS Grid for my primary HTML elements */

body {
    margin: 0;
    font-family: 'Geo', sans-serif;
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
    grid-template-rows: 50px 1fr 50px;
    height: 100vh;
    grid-gap: 5px;
}

/* Turn my nav bar/header into a flexbox */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

/* Styling for nav bar/header */

#title {
    color: white;
}

#search {
  width: 175px;
  height: 40px;
  font-size: 30px;
  font-family: 'Geo', sans-serif;
  color: black;
  background-color: silver;
  border-radius: 20px;
  padding: auto;
  text-align: center;
}

#find {
  font-family: 'Geo', sans-serif;
  font-size: 25px;
  background-color: silver;
  width: 75px;
  height: 30px;
  border-radius: 10px;
}

nav, footer {
    grid-column: span 2;
}

  /* Turn my main element into a flexbox */

main {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

h1 {
  font-family: 'Geo', sans-serif;
  font-size: 50px;
  color: white;
}

p {
  font-family: 'Geo', sans-serif;
  font-size: 25px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

button {
  background-color: silver;
  font-family: 'Geo', sans-serif;
  font-size: 20px;
  color: black;
  height: 60px;
  width: 150px;
  margin: 40px;
  border-radius: 10px;
}

button:hover {
  height: 75px;
  width: 175px;
  font-size: 30px;
}

aside {
  background-color: black;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  ul {
    list-style-type: none;
  }

  /* Styling for footer */

  footer {
    display: flex;
    align-items: center;
    background-color: black;
  }

  /* Styling for links */

  a:link {
    color: white;
  }

  a:visited {
    color: silver;
  }

  a:hover {
    font-size: 125%;
  }